$lightgrey: #D2D6DF;
$grey: #45494E;
$white: #ffffff;
$blue: #0278b8;
$orange: #f6682F;
$yellow: #FFB729;
$create-event-botton-blue: #0278b8;
$hover-blue: #02afff;
$green: #00ab44;
$white-background:#f4f4f4
