.browse-page{
  display: flex;
  justify-content: center;
  background-color: $white-background;
  width: 100%;
  // height: auto;
}

h1.browse-event-header {
  font-size: 18px;
  padding-left: 30px;
}

ul.browse-events-inner {
  margin-top: 20px;
}


.browse-event-list {
  display: flex;
  flex-direction: column;
  // flex-wrap: wrap;
  // justify-content: center;
  // margin: auto;
  max-width: 1200px;
}

li.browse-event {
  // flex: .5 .5 500px;
  // height: auto;
  box-sizing: border-box;
  height: 160px;
  width: 850px;
  margin: 30px 0px 30px 20px;
  border: 1px solid $lightgrey;
  box-shadow: 3px #888888;
}

.browse-event-inner {
  display: flex;
}

.browse-event-image-url {
  width: 300px;;
  height: 160px;
}

.browse-event-info {
  width: 100%;
  padding: 0 12px 5px 12px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  background: $white;
  border-bottom: 1px solid $lightgrey;
}

.browse-event-info-top {
  margin-top: 10px;
}

.browse-event-date {
}

.browse-event-title{
  font-size: 16px;
  font-weight: 500;
}


.browse-event-info-bottom {
  border-top: 1px solid $lightgrey;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
  padding-top: 7px;
  padding-bottom: 7px;
  margin-top: 7px;
}

.browse-event-category {

}

.browse-event-bookmark-icon {

}
