.nav{
  display: flex;
  align-content: center;
  justify-content: space-between;
  border-bottom: 1px solid $lightgrey;
}

.nav-left {
  display: flex;
  justify-content: center;
  align-content: center;
  border-right: 1px solid $lightgrey;
}

a.nav-logo {
  color: $orange;
  font-size: 20px;
  padding: 15px 20px 0px 20px;
}

.nav-right{
  display: flex;
  justify-content: flex-end;
  font-size: 12px;
  width: 600px;
}

.nav-browse{
  border-left: 1px solid #D2D6DF;
  padding: 20px;
}

.nav-browse:hover{
  background-color: $lightgrey;
}

button.nav-logout{
  border-left: 1px solid #D2D6DF;
  padding: 20px;
}

button.nav-logout:hover{
  background-color: $lightgrey;
}

h1.nav-username{
  border-left: 1px solid #D2D6DF;
  font-size: 14px;
  padding: 20px;
}

a.nav-signup{
  border-left: 1px solid #D2D6DF;
  padding: 20px;
}

a.nav-signup:hover{
  background-color: $lightgrey
}

a.nav-login{
  border-left: 1px solid #D2D6DF;
  padding: 20px;
}

a.nav-login:hover{
  background-color: $lightgrey
}

.nav-create-events{
  border-left: 1px solid #D2D6DF;
  padding: 20px;
  color: $create-event-botton-blue;
}

a.nav-create-events:hover {
  color: $hover-blue;
}

button.modal-close {
  padding-left: 240px;
}
